{% if include_profile_bundle %}
__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/

{{ module_name }}/memory/*.jsonl
{{ module_name }}/session/*
!{{ module_name }}/session/.gitkeep
{% else %}
__pycache__/
*.egg-info/
build/
{% endif %}